/* latin-ext */
/* @font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://localhost/motivapp/PN_zRfy9qWD8fEagAPgzpTnr_w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */
/* latin */
/* @font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://localhost/motivapp/PN_zRfy9qWD8fEagAPg9pTk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

/* @font-face{
  font-family:'Michroma';
  src:url(http://localhost/motivapp/Michroma-Regular.ttf) format('truetype');
} */

* {font-family: 'Michroma', sans-serif;background-color:transparent;background:transparent;padding:0;margin:0;}
.a{font-size:20px;font-weight:1000;}
.a a{color:#838383;}
.rg{text-align:right;/*padding-right:15px;*/}
.lf{text-align:left;/*padding-left:15px;*/}
#f1{color:#838383 !important;font-size:24px;}
/* font-variant: small-caps;*/
/*Project vertical-align: bottom */
.textareaxx {
    color:#c43f22;
    overflow-x: hidden;
    overflow-y: auto;
    resize: vertical;
    border:none;
    min-height:59px; /* En az 59 piksel yükseklik */
    scrollbar-width: thin;
    scrollbar-color: transparent!important;
    line-height: 25px; /* Bir satırın yüksekliği */
}

textarea:focus {
    outline: none;
  }
/* Kaydırma çubuğunu 10 piksel genişliğinde ve gri yap */
::-webkit-scrollbar {
    width: 0px!important;
    height: 0px!important;
    background-color: transparent!important;
  }
  
  /* Kaydırma çubuğunun başındaki ve sonundaki okları gizle */
  ::-webkit-scrollbar-button {
    display: none!important;
  }
  
  /* Kaydırma çubuğunun tutamaçını gri yap */
  ::-webkit-scrollbar-thumb {
    background-color: transparent!important;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent!important;
  }
/* Textareanın scrollbarını ince ve gri yap */
.textareaxx::-webkit-scrollbar {
    width: 10px!important;
    background-color: transparent!important;
  }
  
  /* Textareanın scrollbar track kısmını gri yap */
  .textareaxx::-webkit-scrollbar-track {
    background-color: transparent!important;
  }
  textarea::-webkit-resizer { background-color: transparent!important; border:none;border-right: 2px solid #c43f22!important;border-bottom: 2px solid #c43f22!important; border-top-left-radius: 50%!important; border-bottom-right-radius: 50%!important; transform: rotate(45deg)!important; }
  .asdas1c::-webkit-resizer {border:none!important;}

  #ytpanel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    max-width: 600px;
    visibility: visible;
  }
  #ytpanel iframe{
    position:absolute;
    width:100%;
    height:100%;
    border:none;
    border-radius:25px;
  }
  .iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    overflow: hidden;
    background-size:100% 100%;
    background-color:transparent;
  }
  #messages iframe{width:100%;height:auto;min-height:280px;max-width: 600px;max-height: 315px;border:none;border-radius:25px;}



.div3dAAA {
  transform:
    perspective(1000px)
    rotateX(4deg)
    rotateY(-16deg)
    rotateZ(4deg);
  box-shadow: 24px 16px 64px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

.div3dBBB {
  transform:
    perspective(1000px)
    rotateX(-4deg)
    rotateY(16deg)
    rotateZ(-4deg);
  box-shadow: 24px 16px 64px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
.iframeAAAdiv {
  transform:
    rotateX(51deg)
    rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  /* box-shadow:
    1px 1px 0 1px #222245,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25); */
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;

  &:hover {
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    /* box-shadow:
      1px 1px 0 1px #222245,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15); */
  }
}




.eye{
  width: 20px; height: 8px;
  background-color: rgba(240,220,220,1);
  border-radius:0px 0px 20px 20px;
  position: relative;
  left: 10px; top: 40px;
  box-shadow:  40px 0px 0px 0px rgba(240,220,220,1);              
}

.head{
  -webkit-backface-visibility: hidden;
  position: relative;
  margin: -250px auto;
  width: 80px; height: 80px;
  background-color: #111;
  border-radius:50px;
  box-shadow: inset -4px 2px 0px 0px rgba(240,220,220,1);
  -webkit-animation:headAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;
}

.body{ 
  position: relative;
  margin: 90px auto;
  width: 140px; height: 120px;
  background-color: #111;
  border-radius: 50px/25px ;
  box-shadow: inset -5px 2px 0px 0px rgba(240,220,220,1);
  -webkit-animation:bodyAnim 1.5s infinite alternate;
  -webkit-animation-timing-function:ease-out;  
}



@-webkit-keyframes headAnim{
  0%{ top:0px; }
  50%{ top:10px; }
  100% { top:0px;} 
}

@-webkit-keyframes bodyAnim{
  0%{ top:-5px; }
  50%{ top:10px; }
  100% { top:-5px;} 
}

.circ{
-webkit-backface-visibility: hidden;
margin: 0 auto;
width: 180px!important; height: 180px!important;
background-color: transparent;
border-radius: 0px 0px 50px 50px;
position: absolute;
z-index: -1;  
left: 0%; right: 0%; top: 0%;
color:transparent;
overflow: hidden;
}

.hands{
-webkit-backface-visibility: hidden;
margin-top: 140px;
width: 120px;height: 120px;
position: absolute;
background-color: #111;
border-radius:20px;
box-shadow:-1px -4px 0px 0px rgba(240,220,220,1);
-webkit-transform:rotate(45deg);
top:75%;left: 16%;
z-index: 1;
-webkit-animation:bodyAnim 1.5s infinite alternate;
-webkit-animation-timing-function:ease-out;
}



.nav {
  position: absolute;
  color: #c5c7da;
  left: 50%;
  transform : translateX(-50%);
  width: 100%;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  height: 52px;

  max-width:600px;border-radius:25px;background-color: transparent;width:100%;
}

.nav-first {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 52px;
}
.nav-first svg,.nav-first img {
  height: 28px;user-select: none;
  border-radius: 30%;
}
.nav-first svg:hover,.nav-first img:hover {
  box-shadow: inset rgba(255, 255, 255, 0.56) 0px 0px 10px 2px,rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
}