.a{font-size:20px;font-weight:1000;font-variant: small-caps;}
.a a{color:#838383;font-variant: small-caps;}
.rg{text-align:right;padding-right:15px;font-variant: small-caps;}
.lf{text-align:left;padding-left:15px;font-variant: small-caps;}
#f1{color:#838383 !important;font-size:24px;font-variant: small-caps;}
/*Project vertical-align: bottom */
.textareaxx {
    color:black;
    overflow-x: hidden;
    overflow-y: auto;
    resize: vertical;
    border:none;
    min-height:59px; /* En az 59 piksel yükseklik */
    scrollbar-width: thin;
    scrollbar-color: white;
    line-height: 25px; /* Bir satırın yüksekliği */
}
textarea:focus {
    outline: none;
  }
/* Kaydırma çubuğunu 10 piksel genişliğinde ve gri yap */
::-webkit-scrollbar {
    width: 0px!important;
    height: 0px!important;
    background-color: transparent!important;
  }
  
  /* Kaydırma çubuğunun başındaki ve sonundaki okları gizle */
  ::-webkit-scrollbar-button {
    display: none!important;
  }
  
  /* Kaydırma çubuğunun tutamaçını gri yap */
  ::-webkit-scrollbar-thumb {
    background-color: transparent!important;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent!important;
  }
/* Textareanın scrollbarını ince ve gri yap */
.textareaxx::-webkit-scrollbar {
    width: 10px!important;
    background-color: transparent!important;
  }
  
  /* Textareanın scrollbar track kısmını gri yap */
  .textareaxx::-webkit-scrollbar-track {
    background-color: transparent!important;
  }
  textarea::-webkit-resizer { background-color: white!important; border:none;border-right: 2px solid grey!important;border-bottom: 2px solid grey!important; border-top-left-radius: 50%!important; border-bottom-right-radius: 50%!important; transform: rotate(45deg)!important; }
  .asdas1c::-webkit-resizer {border:none!important;}

  #ytpanel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 600px;
  }
  iframe{width:100%;height:100%;min-height:280px;max-width: 600px;max-height: 360px;border-top-right-radius: 25px;border-top-left-radius: 25px;}